<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>UCloud WIKI</title>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="/stylesheets/ucloud.min.css" />
        <link rel="shortcut icon" href="/images/favicon.ico">
    </head>
    <body>
        <div class="navbar navbar-default radius-0 margin-0">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">UCloud WIKI</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav text-center margin-left-50">
                        <li for="index"><a href="/">首页</a></li>
                        <li for="articles"><a href="/articles/list">文章</a></li>
                        <li for="tags" class="dropdown">
                            <a href="#" id="tag-dropdown" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">标签<span class="caret"></span></a>
                            <ul id="nav-tag-list-container" class="dropdown-menu" role="menu" aria-labelledby="tag-dropdown">
                            </ul>
                        </li>
                        <% include tag_list %>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href=""><%= username %></a>
                        </li>
                    </ul>
                    <div class="navbar-form navbar-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" id="nav-search-input" placeholder="搜索">
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="nav-search-button">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container margin-bottom-60">
            <div class="row">
