<br />
<div class="form-inline">
    <div class="form-group title-input">
        <input class="form-control" id="article-title" placeholder="标题">
    </div>
    <div class="form-group pull-right">
        <button class="btn btn-link" id="article-tags">标签</button>
    </div>
</div>
<br />
<div id="markdown-editor">
    <div class="col-md-6 markdown-title">正文</div>
    <div class="col-md-6 markdown-title markdown-title-preview">预览</div>
    <textarea id="markdown-input" class="col-md-6 markdown-input" v-model="input"></textarea>
    <div class="col-md-6" id="markdown-preview" v-html="input | marked"></div>
</div>
<div class="clearfix"></div>
<hr />
