<% include ../layouts/header %>

<% include article_create_template %>

<div class="form-inline">
    <div class="form-group">
        <button class="btn btn-primary" id="create-article-button">创建</button>
    </div>
    <div class="form-group">
        <button class="btn btn-default" id="cancel-create-button">取消</button>
    </div>
</div>
<br />

<% include tag_template %>
<% include ../layouts/footer %>
