<% include ../layouts/header %>

<div class="display-none" for="tag-id"><%= tagId %></div>
<div class="display-none" for="search-info"><%= search %></div>
<br />
<div id="condition-container" class="col-md-12"></div>
<div class="clearfix"></div>
<hr />
<div id="article-list-container" class="col-md-12"></div>

<script type="text/template" id="condition-template">
    <ul class="nav nav-pills nav-tag">
        <li {{#isAll}}class="active"{{/isAll}}>
            <a href="/articles/list?search={{searchInfo}}">全部</a>
        </li>
        {{#tags}}
        <li {{#selected}}class="active"{{/selected}}>
            <a href="/articles/list?tag={{id}}&search={{searchInfo}}">{{name}}</a>
        </li>
        {{/tags}}
    </ul>
    <br />
    <div class="row">
        <div class="col-md-9">
            <input id="search-input" class="input-lg form-control" type="text" value="{{searchInfo}}" placeholder="输入关键字搜索">
        </div>
        <div class="col-md-2">
            <button type="button" id="search-button" class="btn btn-primary btn-lg btn-block">搜索</button>
        </div>
    </div>
</script>

<script type="text/template" id="article-block-template">
<div>
    <h3>
        <a href="/articles/detail/{{id}}">{{title}}</a>
    </h3>
    <p>最后由 {{last_modifier_name}} 更新于 {{update_time_date}}</p>    
</div>
</script>

<script type="text/template" id="article-empty-block-template">
<p class="bg-warning common-padding">没找到想要的WIKI？去<a href="/articles/create">添加</a></p>
</script>

<% include ../layouts/footer %>
