<% include ../layouts/header %>

<div class="display-none" for="article-id"><%= articleId %></div>

<% include article_create_template %>

<div class="form-inline">
    <div class="form-group">
        <button class="btn btn-primary" id="update-article-button">提交</button>
    </div>
    <div class="form-group">
        <button class="btn btn-default" id="cancel-update-button">取消</button>
    </div>
</div>
<br />

<% include tag_template %>
<% include ../layouts/footer %>
